@font-face {
  font-family: "CustomFont";
  src: url(./assets/SyneMono-Regular.ttf);
}

body {
  background-color: #709b90;
  font-family: 'Times New Roman', Helvetica, sans-serif;
  margin: 5px;
  
}

.title-card {
  font-family: 'CustomFont', Helvetica, sans-serif;
  background-color: rgb(178, 121, 232);
  height: 5rem;
  width: 75%;
  margin: 0;
}

.title-card>h1 {
  position: relative;
  margin: 0;
  text-align: left;
  top: 25%;
}

.nav {
  width: auto;
  height: auto;
  background-color: rgb(178, 121, 232);
  float: center;
  margin: .5em;
  padding: 0;
}

.nav ul {
  list-style: none;
  width: 40%;
  margin: auto;
  padding: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: #069;
}

.nav li a:hover {
  color: #c00;
}

a:hover {
  color: #c00;
}


.main {
  font-family: 'CustomFont', Helvetica, sans-serif;
  background-color: rgb(178, 121, 232);
  height: auto;
  width: 75%;
  margin: 0;
}

.main h1 {
  margin: .25em;
  max-width: 60%;
}

.main h3 {
  margin: .5em;
  max-width: 60%;
}

.main p,
.sniffer-steps {
  font-size: 1em;
  font-family: 'Cascadia Mono', Times, serif;
  font-weight: 300;
  margin: .5em;
}

.inline-link {
  font-size: 1em;
  font-family: 'Cascadia Mono', Times, serif;
  font-weight: 300;
  margin: 0;
}

a.lightbox img {
  max-width: 60%;
  border: 2px solid black;
  object-fit: cover;
  margin: auto;
  display: block;
  padding: 1px;
  background-color: blanchedalmond;
}

.next {
  font-size: 1em;
  display: block;
  margin: 1em;
  text-align: right;
}
/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;

}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0;
}